<nav class="nav-menu">
    <div>
        <h3>PodrãoLanches</h3>
    </div>

    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/routes/cardapio">CARDAPIO</a></li>
        <li><a href="/routes/pedido">PEDIDO</a></li>
        <li><a href="/routes/contato">CONTATOS</a></li>
    </ul>
</nav>